.Footer 
{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Shop h1
{
  display: inline;
    font-weight: 600;
    margin: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pages ul
{
  list-style: none;
    display: flex;
    margin: 15px
}
.Pages li
{
  margin: 20px;
  font-weight: 600;
  font-family: monospace;
  font-size: 17px;
}
.Socials img
{
  margin: 15px;
  font-size: 13px;

}